.Layout{
    height: 100%;
}

.SiteLayoutContent {
    min-height: 90%;
    padding: 24px;
    background: #fff;
}

.AntRowRtl .Logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.MarginRight {
    margin-right: 8px;
}

.MarginTop {
    margin-top: 32px;
}

.AlignItems {
    align-items: stretch;
    justify-content: center;
}